{% extends "layout.html" %}
{% block content %}
<section class="container p-3 text-left center">
    <div class="row text-center mb-4 mt-4">
        <h2 class="fw-bold text-center">My Recipes</h2>
    </div>
    
    <div class="row gx-4 gy-4 text-center">
        {% for recipe in uploaded_recipes %}
            {% include "recipe_card.html" %}
        {% endfor %}
    </div>

    <!-- Create New Recipe -->
    <div class="fixed-action-btn" id="fixed1">
        <a href="{{ url_for('addrecipe') }}" class="btn btn-primary rounded-pill px-4 py-3 shadow fw-bold" style="font-size: 1.2rem;">
            <i class="fas fa-pencil-alt me-2"></i> ADD RECIPE
        </a>
    </div>
</section>

{% endblock %}
