{% extends "layout.html" %}
{% block content %}
<section class="container p-3 text-left center">
  <div class="row text-center mb-4 mt-4">
    <h2 class="fw-bold text-center">Edit Profile</h2>
  </div>

  <div class = "card shadow-sm p-4 rounded-4">
    <form action="/profile" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class = "col-md-4 center mt-2">
          <!--Profile Picture-->
          <img src="{{ url_for('static', filename='uploads/' + (user.profile_pic or 'default.png')) }}"
              alt="{{user.username}}" class="img-fluid w-100"
              style="max-width: 100%; height: auto; aspect-ratio: 1 / 1; object-fit: cover;">
        </div>

        <!-- Profile Info -->
        <div class="col-md-8 flex-column d-flex flex-grow-1 " >
          <div class="center">
            <h2 class="mb-1">Welcome <strong>{{ user.username or user.name }}</strong></h2>
            <h5>
              <span class="badge bg-primary me-2">
                <i class="fas fa-heart"></i> Saved Recipes: {{ user.favorites | length }}
              </span>
              <span class="badge bg-secondary">
                <i class="fas fa-utensils"></i> Created Recipes: {{ user.created_recipe | length }}
              </span>
            </h5>
          </div>
          
          <div class="row">
            <p class="text-muted mb-1 mt-3">Edit your profile information below:</p>
            <!--Username-->
            <div class="col-md-6">
              <div class="input-group mb-2">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" name="username" class="form-control" placeholder="Name" value="{{ user.username }}" required>
              </div>
            </div>
            
            <!--Email-->
            <div class="col-md-6">
              <div class="input-group mb-2">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                <input type="email" name="email" class="form-control" placeholder="Email" value="{{ user.email }}" required>
              </div>
            </div>
          </div>

          <!--Change Picture-->
          <div class = "input-group mb-2">
            <span class="input-group-text"><i class="fas fa-image"></i></span>
            <input type="file" name="profile_pic" class="form-control" accept="image/*">

          </div>

          
          <p class="text-muted mb-1 mt-3">Update password (if needed):</p>
          <!-- Old Password -->
          <div class="input-group mb-2">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input type="password" name="old_password" class="form-control" placeholder="Enter current password">
          </div>

          <!-- New Password -->
          <div class="input-group mb-2">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input type="password" name="password" class="form-control" placeholder="Enter new password">
          </div>

          <!--Action Buttons-->
          <div class="row mt-2">
            <!--Save Changes-->
            <div class="col-md-6">
              <button type="submit" class="btn btn-dark w-100 mb-2">Save Changes</button>
            </div>
            
            <!--Logout-->
            <div class="col-md-6">
              <a href="{{ url_for('logout') }}" class="btn btn-danger w-100">Logout</a>
            </div>
          </div>


        </div>
    </form>
</section>
{% endblock %}
