{% extends "layout.html" %}
{% block content %}
<!--Section: register -->
<section class="vh-100 d-flex align-items-center justify-content-center">
    <div class="card shadow-5 p-4" style="width: 400px;">
      <h3 class="text-center">Create an Account</h3>
      <form action="/register" method="POST">
        <!-- Username -->
        <div class="form-outline mt-3">
          <input type="text" name="username" id="registerUsername" class="form-control" value="{{data.username}}"/>
          <label class="form-label" for="registerUsername">Username</label>
        </div>
        {% if errors.username %}
          <div class="form-text"><small class="text-danger">{{ errors.username }}</small></div>
        {% endif %}

        <!-- Email -->
        <div class="form-outline mt-3">
          <input type="email" name="email" id="registerEmail" class="form-control" value="{{data.email}}" />
          <label class="form-label" for="registerEmail">Email</label>
        </div>
        {% if errors.email %}
          <div class="form-text"><small class="text-danger">{{ errors.email }}</small></div>
        {% endif %}
  
        <!-- Password -->
        <div class="form-outline mt-3">
          <input type="password" name="password" id="registerPassword" class="form-control" value="{{data.password}}" />
          <label class="form-label" for="registerPassword">Password</label>
        </div>
        {% if errors.password %}
          <div class="form-text"><small class="text-danger">{{ errors.password }}</small></div>
        {% endif %}
  
        <!-- Confirm Password -->
        <div class="form-outline mt-3">
          <input type="password" name="confirm_password" id="registerConfirmPassword" class="form-control" value="{{data.confirm_password}}" />
          <label class="form-label" for="registerConfirmPassword">Confirm Password</label>
        </div>
        {% if errors.confirm_password %}
          <div class="form-text"><small class="text-danger">{{ errors.confirm_password }}</small></div>
        {% endif %}
  
        <!-- Submit -->
        <button type="submit" class="btn btn-success w-100 mt-4 mb-3">Register</button>
  
        <!-- Login link -->
        <div class="text-center">
          <p>Already have an account? <a href="/login">Login here</a></p>
        </div>
      </form>
    </div>
  </section>
{% endblock %}  